@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'DM Sans', 'Roboto Mono', sans-serif;
    color: #333;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: #333;
}

h1, h2{
    font-weight: 18.75rem;
    line-height: 1;
}

.img-cont{
    padding: auto;
}

img {
    width: 100%;
}

container{
    max-width: 1100px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 60% 40%;
}

/* Header section */
.navbar{
    justify-content: space-between;
    height: 64px;
}

.navbar p{
    font-size: 1.25rem;
}

.logo{  
    margin-left: 1.5rem;
}

.nav{
    margin-right: 1.5rem;
    gap: 1rem;
}

/* Banner */
.banner{
    background-color: #D8D8D8;
}

.banner-img{
    padding: 2rem 1.5rem;
}

.banner-text{
    margin: auto 0;
    padding-right: 1.5rem;    
}

.banner-text h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner-text h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#banner-submit{
    display: inline-block;
    border: none;
    width: 100%;
    padding: .5rem 0;
    color: white;
    background-color: #4A4A4A;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

/* News Section */
.news-focus{
    padding: 2rem 1.5rem;
}

.news-focus h1{
    margin: 2rem 0 1.5rem;
}

.news-text .info{
    margin-bottom: 2rem;
}
/* News Section News-extra */
.news .news-extra{
    flex-direction: column;
}

.news-extra .articles{
    border: 1px solid #c9c9c9;
}

.news-extra-img{
    width: 35%;
    padding: 1rem;
}

.news-extra-info{
    width: 65%;
    padding-right: 0.5rem;
}

.news-extra-info a{
    color: #5295E3
}

.grey-bg{
    background-color: #D8D8D8;
}

/* Learning Section */
.learning{
    background-color: #EAEBEC;
    overflow: auto;
}

.learning .start-learning{
    padding: 2rem 0;
    text-align: center;
}

.learning .grid{
    margin: 0 4.5rem 2rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.courses .course{
    background-color: white;
}

.course-info{
    padding: 1rem 1rem 1.5rem;
}

.course-info h3{
    padding-bottom: 1rem;
}

.course-info p:nth-of-type(1)
{
    padding: 0.5rem 0;
}

.grey-txt{
    color: #767676;
}